body {
    background-color: rgb(250, 86, 182);
}

form {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    display: flex;
    vertical-align: top;

    input {
        height: 30px;
        border-color: pink;
        width: 70%;
    }

    button {
        height: 36px;
        margin-left: 2%;
        background-color: rgb(255, 4, 171);
        border-color: rgb(255, 4, 171); ;
        color: #fff;
        cursor: pointer;
        width: 26%;

        &:hover {
            opacity: .5;
        }

        svg {
            height: 25px!important;
        }
    }
}

h2 {
    text-align: center;
    color: #fff;
    font-size: 40px;
    margin-top: 60px;
}

ul {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    list-style: none;

    li {
        display: flex;
        justify-content: space-between;
    }
}

